################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ElonsToys/ElonsToys/obj
/ElonsToys/.vs/ElonsToys
/ElonsToys/ElonsToys/bin/Debug/net6.0
/PhoneNumberAnalysis/AnalysPhoneNumber/.vs/AnalysPhoneNumber/v17
/PhoneNumberAnalysis/AnalysPhoneNumber/AnalysPhoneNumber/bin/Debug/net6.0
/PhoneNumberAnalysis/AnalysPhoneNumber/AnalysPhoneNumber/obj
/Dominos/Dominoes/.vs/Dominoes/v17
/Dominos/Dominoes/Dominoes/bin/Debug/net6.0
/Dominos/Dominoes/Dominoes/obj
