################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ElonsToys/ElonsToys/obj
/ElonsToys/.vs/ElonsToys
/ElonsToys/ElonsToys/bin/Debug/net6.0
/PhoneNumberAnalysis/AnalysPhoneNumber/.vs/AnalysPhoneNumber/v17
/PhoneNumberAnalysis/AnalysPhoneNumber/AnalysPhoneNumber/bin/Debug/net6.0
/PhoneNumberAnalysis/AnalysPhoneNumber/AnalysPhoneNumber/obj
/Dominos/Dominoes/.vs/Dominoes/v17
/Dominos/Dominoes/Dominoes/bin/Debug/net6.0
/Dominos/Dominoes/Dominoes/obj
/Dominos/Dominoes/.vs/Dominoes
/PhoneNumberAnalysis/AnalysPhoneNumber/.vs/AnalysPhoneNumber/DesignTimeBuild
/Scrabble/Scrabble/.vs/Scrabble/v17
/Scrabble/Scrabble/Scrabble/obj/Debug/net6.0
/Scrabble/Scrabble/Scrabble/obj
/Difference/Difference/.vs/Difference
/Difference/Difference/Difference/bin/Debug/net6.0
/Difference/Difference/Difference/obj
/Scrabble/Scrabble/.vs/Scrabble/DesignTimeBuild
/ShootBird/ShootBird/.vs/ShootBird/v17
/ShootBird/ShootBird/ShootBird/bin/Debug/net6.0
/ShootBird/ShootBird/ShootBird/obj
/ShootBird/ShootBird/ShootBird/Properties/PublishProfiles
/ShootBird/ShootBird/ShootBird/bin/Release/net6.0
/ShootBird/ShootBird/ShootBird/Sound/WeaponSound/HandGun.wav
/ShootBird/ShootBird/ShootBird/Sound/FoneSound/GameFoneSound.wav
